.title {
  max-width: 264px;
  @media screen and (min-width: 768px) {
    max-width: 300px;
  }
  @media screen and (min-width: 1240px) {
    max-width: 398px;
  }
}
.title_wrapper {
  display: grid;
  gap: 24px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
  @media screen and (min-width: 1240px) {
    padding-bottom: 120px;
  }
}
.action_btn {
  display: flex;
  gap: 12px;
}
.actions_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media screen and (min-width: 768px) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -8px;
      width: 1px;
      background-color: var(--green);
      height: 100%;
    }
  }

  & > p {
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: -0.04em;
    text-align: justify;
    color: rgb(from var(--secondary-color) r g b / 0.25);
    @media screen and (min-width: 1240px) {
      align-self: flex-end;
      margin: 0 auto;
    }
  }

  & span {
    font-family: "Fira Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.04em;
    text-align: justify;
  }
}
.prev_slide {
  color: var(--main-text-color);
}
.next_slide {
  color: rgb(23, 61, 51, 25%);
}
.btn_prev,
.btn_next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--main-text-color);
  border-radius: 100%;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out,
    stroke 250ms ease-in-out;
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: var(--green);
  }
  &:hover .btn_icon,
  &:focus .btn_icon {
    > path {
      stroke: var(--green);
    }
  }
}
.btn_icon {
  width: 36px;
  height: 36px;
  > path {
    transition: stroke linear 250ms;
  }
}
.btn_next {
  transform: rotate(180deg);
}
