.menu_title {
  display: flex;
  font-family: "Fira Sans";
  font-size: 24px;
  color: rgb(255, 255, 255, 25%);
  transition: color 200ms ease-in-out;
  gap: 6px;
  &:hover {
    color: var(--white);
  }
}
.active {
  color: var(--green);
}
