.slide {
  overflow: hidden;
  max-width: 320px;
  & img {
    height: 168px;
  }
  @media screen and (min-width: 768px) {
    max-width: 342px;
  }
  @media screen and (min-width: 1240px) {
    max-width: 596px;

    & img {
      height: 296px;
    }
  }
}
.wrapper {
  padding: 24px 12px 12px;
  background-color: #eaedf1;
  overflow: hidden;
  width: 285px;

  @media screen and (min-width: 768px) {
    width: 283px;
  }
  @media screen and (min-width: 1240px) {
    width: 521px;
    padding: 36px 48px;
  }
}
.label_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  height: 66px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 72px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1240px) {
    height: 60px;
    margin-bottom: 36px;
  }
}
.label {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: justify;
  max-width: 175px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    max-width: 194px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 24px;
    line-height: 29px;
    max-width: 356px;
  }
}
.btn_more {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: background-color linear 250ms;
  background-color: var(--green);
  &:hover,
  &:focus {
    background-color: var(--main-text-color);
  }
  &:hover .btn_icon,
  &:focus .btn_icon {
    > path {
      stroke: var(--green);
    }
  }
}
.btn_icon {
  width: 28px;
  height: 28px;
  transform: rotate(135deg);
  > path {
    transition: stroke linear 250ms;
  }
}
.meta {
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1240px) {
    font-size: 16px;
    line-height: 19px;
    margin-top: 34px;
  }
}
.date {
  font-family: Fira Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: right;
  @media screen and (min-width: 1240px) {
    font-size: 16px;
    line-height: 19px;
  }
}
