.icon_social {
  transition: fill 250ms ease-in-out, stroke 250ms ease-in-out;

  & .fb > path:first-child {
    transition: fill 250ms ease-in-out, stroke 250ms ease-in-out;
    fill: var(--main-text-color);
  }

  & .fb > path:not(:first-child) {
    transition: fill 250ms ease-in-out, stroke 250ms ease-in-out;
    stroke: var(--main-text-color);
  }

  & .instagram > path {
    transition: fill 250ms ease-in-out, stroke 250ms ease-in-out;
    stroke: var(--main-text-color);
  }

  &:hover .fb > path:first-child {
    fill: var(--green);
  }
  &:hover .fb > path:not(:first-child) {
    stroke: var(--green);
  }
  &:hover .instagram > path {
    stroke: var(--green);
  }
}
