@import "./css/colors.css";
@import "./css/fonts.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid red;
}

@media screen and (min-width: 769px) and (max-width: 1239px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald";
}
p {
  font-family: "Fira Sans";
  font-weight: 400;
}
span {
  font-family: "Fira Sans";
  font-weight: 400;
}

h2 {
  font-family: "Oswald";
  text-transform: uppercase;
  margin: 36px 0px 24px 0px;
  font-size: 30px;
  font-weight: 400;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 64px;
  }
}
h4 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  color: var(--main-text-color);
}
a .logo {
  transition: fill 250ms ease-in-out;
}
.logo:hover {
  fill: var(--green);
}

.ico .call:hover {
  fill: red;
}
